.walletListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

}

.walletLeftComponent {
  display: flex;
}

.walletProfilePic {
  margin-right: 10px;
  align-self: center;
}

.walletTextData {
  display: flex;
  flex-direction: column;
}

.walletTick {
  align-self: center;
}
