.navBar {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border-right: 0.1pc solid white;
}

.assetSelectionRow {
  display: flex;
  margin-left: 15px;
}
.versionBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vh;
  padding-left: 2vh;
}

.themeSwitchBox {
  padding-inline-start: 20px;
}

.brandingBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}